html, body, div, span, iframe,h1, h2, h3, h4, h5, h6, p, a,   em, img,  s, small,  strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{border: 0;margin: 0;padding: 0;vertical-align: baseline;}
.w960 {margin:0 auto; width: 960px;}

body { line-height: 1; font-family:Tahoma, Geneva, sans-serif;}
ol, ul { list-style: none; }

.fl { float: left; }
.fr { float: right; }
.cl{ clear:both;}
.tj{display:none;}


p {color: #505050;font-size: 12px;line-height: 20px;}
a {color: #00addc;text-decoration: none;}
a:hover, a:active, input { outline: none; }
#zhqz{color:#00ADDC;font-size:30px;}
.sf-menu { line-height: 1.0; }
.sf-menu a, .sf-menu a p{ color: #fff !important; font-size: 14px; }
.top { background:#1C8AD7 url('nav_bg.jpg') repeat-x;position:relative;z-index:2 } 
.t_main label{ color:#000; cursor:pointer}
.black{ color:#00addc; font-size:22px;}
.mt10{ margin-top:10px;}
.fred{ color:#f00}
table.font1{ font-family:Tahoma, Geneva, sans-serif;}
#loadimg{background:url(/css/l.gif) no-repeat 0 10px; height:28px; padding:18px 0 0 0; font-size:12px; color:#333; text-indent:150px;overflow:hidden;}
/* - 顶部广告 - */
#topad{ padding-top:7px; padding-bottom:4px;background:#fff url(ad_bg.gif) repeat-x 0 0; height:70px; width:958px; font-size:12px; border:1px solid #E0E0E2; margin:0 auto;border-radius: 3px; }
#topad ul li{ float:left; width:234px;text-align:center; margin:2px;overflow:hidden; height:20px; line-height:20px; color:#999; }
#topad ul li a:hover{ color:#f00}
#topad a.c_hong{ color:#f00;}
#topad a.c_lan{ color:#00f;}
.h3bb{ border-bottom:1px dotted #ccc; padding-bottom:15px;}
.xxxx{ font-family:monospace; color:#333; padding-top:10px; font-size:12px; line-height:25px;}

.more{  overflow:hidden; display:none;}
/* - 顶部导航 - */
.main-nav {  height:47px;font-family:"Microsoft Yahei",Tahoma, Geneva, sans-serif;  }

.logo a{ font-size:16px; font-weight:bold; width:162px; height:47px; float:left; background:url(logo.gif) no-repeat; text-indent:-9999px; margin-right:20px; }
.sf-menu  a:hover,.sf-menu  li.hover,.sf-menu  li:hover, .sf-menu  li:active, .sf-menu  li#current {visibility:inherit; background-color:#147BC2;cursor: pointer;}

.sf-menu  li#current{border-left: 1px solid #0c619b;border-right: 1px solid #0c619b; background:#0c6fb2;}
.sf-menu  li#current span,.sf-menu  li#current  span ,.sf-menu  li#current:hover span   {background-position:0 -40px;  }
.sf-menu  li#current a:hover,.sf-menu  li#current:hover{ background:#0c6fb2;}

.sf-menu li {float: left;position: relative; border-left:1px solid #2393E2; border-right:1px solid #1878BB;}
.sf-menu li.end  a{border-right:1px solid #1878BB; }
.sf-menu li.end { border-right:1px solid #49A2E1;}
.sf-menu li.one {border-left:1px solid #1979BC;}
.sf-menu li.one a{border-left:1px solid #2393E2;}
.sf-menu li#current a{ border-left:none; border-right:0;}

.sf-menu li a.dropdown{cursor:Default; font-weight:bold;}
.sf-menu li a.dropdown p{text-shadow:0 1px 0 #10517F;filter: glow(color=#10517F,strength=0);line-height:24px\9;line-height:22px\0;}
.sf-menu li span {background: url('nav_dropdown.png') no-repeat 0 0;display: inline-block;float: left;height:19px;margin: 1px 0 0 6px;width:13px;}
.sf-menu a:hover span,.sf-menu li:hover span ,.sf-menu li.hover span { background-position:0 -20px; }

.sf-menu a {display: block;position: relative;padding:14px 10px 0 15px;height:33px;float: left;font-size:12px;}

.sf-menu ul {position: absolute;display:none;top: -999em;left: 0;width: 150px;background-color:#1B89D4; border-bottom:3px solid #1B89D4; border-radius:0 0 3px 3px;z-index: 99999; }
.sf-menu li:hover ul,.sf-menu ul.hover { display:block;top: 46px; }

.sf-menu li li{ border-top:1px solid #1E78B8; border-bottom:1px dotted #49A2E1;padding-top:0px;  overflow:hidden;}
.sf-menu li li a{ height:20px; line-height:20px;width: 128px; border:none; padding:0; display:block; padding:0;  padding:7px 0 5px 20px;}
.sf-menu li li a:hover { background:#147BC2; }
/* hnav */
.hnav {background-color: #f3f3f3;padding: 15px 0; height:20px; overflow:hidden; font-size:12px; color:#666;border-bottom: 1px solid #e3e3e3;margin-bottom: 10px;}
.hnav h1{font-weight: bold; font-family:"Microsoft Yahei"; font-size:20px; color:#333; float:left;text-shadow:0 1px 0 #ccc;  }
.hnav .fl{ margin-left:10px;}
.hnav .fl a{ display:block; line-height:25px;line-height:28px\9;_line-height:25px; background:url(zkhq.gif) no-repeat right top; width:52px; padding-right:13px; height:25px; overflow:hidden;}
.hnav .fl a.on{ background-position:right -25px  ;}
.hnav .fl a:hover{ background-position:right -50px;}
.hnav .fl a.on:hover{ background-position:right -75px;}
.hnav .fl a:hover{ color:#f00}
.hnav .fr{ width:180px;}
.hnav .fr .shareCount{ float:right; width:44px; margin:0; overflow:hidden; padding:0}
.hnav .news{ float:left; margin-left:10px;  color:#f30;text-align:center;line-height:25px;line-height:28px\9;_line-height:25px;text-shadow:0 1px 0 #fff;  }
.hnav .news strong{ color:#f00; padding:0 5px; font-size:14px; }
/* main */
h3,h4{ font-size:16px; font-family:"Microsoft Yahei","黑体"; color:#333;  padding:15px 0 5px 0; margin-bottom:10px;}
textarea.f_t1{ width:948px; height:300px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:20px; padding:5px;border-radius:3px;border:1px solid #ccc;resize: none;}
textarea.f_t2{ width:800px; height:40px;font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:20px; padding:5px;border-radius:3px;border:1px solid #ccc;resize: none;}
.dtable2 tr td{ padding:10px 0; font-size:12px; vertical-align:middle}
.h3_t{ font-size:18px; border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:0;}
.h3_t small{ font-size:12px; font-weight:normal; color:#999;}
h4{ font-size:14px; color:#666}
input.input1{border:1px solid #ccc;border-radius:2px;  color:#666;padding:7px 8px;padding:8px 8px 6px 8px\9; height:23px; line-height:23px; overflow:hidden; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;
font-size:14px;width:200px;position: relative;}
textarea.h150{ height:150px;}
.ts {padding:5px 10px;  margin:10px auto 0 auto;  border-radius:3px;}
.ts p span{ color:#f00; font-weight:bold; padding:0 5px; font-size:14px;}

/* 帮助说明 */
.quote{ background:url(quote.gif) no-repeat 8px 8px; font-size:12px; padding:5px 10px; width:938px; margin:0 auto 10px auto;border-radius: 3px;}
.quote p{ padding-left:30px;}

.t_main{z-index: 1;}
.t_dhs{margin:15px auto; display:block; font-size:12px;width: 960px; padding:10px 0 5px 0; border-top:1px dotted #ccc; }
.t_dhs li{float:left; width:100%;line-height:24px;  }
.t_dhs .l_t{ width:90px;  color:#333; float:left; }
.t_dhs .el{float:left;display:block;color:#666;  }
.t_dhs a{ color:#555; padding-right:14px; text-decoration:underline; float:left;}
.t_dhs a:hover{ color:#1A6CC1; }
.t_dhs a.hot{ color:#146CB9; font-weight:bold;}
.infoli{margin-top:10px;padding-top:10px; border-top:1px solid #dedede}
.t_dhs p.el{float:left;display:block;width:800px;color:#666; }
.t_dhs p.color{ color:#1A6CC1; font-family:"Microsoft Yahei"; font-weight:bold; font-size:16px; font-weight:bold;  margin-bottom:5px;}


.footer{ padding:20px 0; text-align:center; font-size:12px; border-top:1px solid #E7E8E9; color:#979797; margin-top:20px;}
.footer a,.footer strong{ color:#979797; font-weight:normal;}
/* 输入框 */
textarea,input {-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;-moz-transition: border linear 0.2s, box-shadow linear 0.2s;-ms-transition: border linear 0.2s, box-shadow linear 0.2s;-o-transition: border linear 0.2s, box-shadow linear 0.2s;transition: border linear 0.2s, box-shadow linear 0.2s;-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);}
textarea:focus,input:focus {outline: 0;border-color: rgba(82, 168, 236, 0.8);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
textarea:focus{ background:#E1F1FD;}
/* 按钮 */
.button {cursor:pointer;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);border: 1px solid;padding: 8px 12px;padding: 5px 8px 3px 8px\9;padding: 7px 14px\0;color: #fff;font-family:"Microsoft Yahei", Arial, Tahoma, sans-serif;font-size: 14px;font-weight: bold;text-shadow: -1px -1px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.75);white-space: nowrap;background: #777;border-color: #777;text-decoration: none;font-style: normal;text-transform: none; *border:none;*bottom: 1px;}

.button:hover,.button:focus {bottom: 1px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);background: #999;border-color: #999;}
.button:active {top: 1px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);}

.default {-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;}
.square {-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.bubble {-moz-border-radius: 12px;-webkit-border-radius: 12px;border-radius: 12px;}

.lan {background: #166ba9;border-color: #166ba9;}
.lan:hover,.lan:focus {background: #3390CF;border-color: #3390CF;}
.red {background: #D81204;border-color: #D81204;}
.red:hover,.red:focus {background: #FF2F1F;border-color: #FF2F1F;}
.lv {background: #71AF2A;border-color: #5D9122;}
.lv:hover,.lv:focus {background: #7EC32F;border-color: #649B25; }
.qing {background: #28AF59;border-color: #22954C;}
.qing:hover,.qing:focus {background: #2FCD69;border-color: #29B35B;}
.zi {background: #9F1D78;border-color: #9F1D78;}
.zi:hover,.zi:focus {background: #CF33A0;border-color: #CF33A0;}
.juhuang {background: #FF5F09;border-color: #FF5F09;}
.juhuang:hover,.juhuang:focus {background: #FF7F09;border-color: #FF7F09;}
.hui {background: #777;border-color: #777;}
.hui:hover,.hui:focus {background: #999;border-color: #999;}
/* 提示框配色 */
.ts1{border:1px solid #96c2f1; background-color:#eff7ff}
.ts2{border:1px solid #9bdf70;background-color:#f0fbeb}
.ts3{border:1px solid #bbe1f1;background-color:#eefaff}
.ts4{border:1px solid #cee3e9;background-color:#f1f7f9}
.ts5{border:1px solid #a9c9e2;background-color:#e8f5fe}
.ts6{border:1px solid #e3e197;background-color:#ffffdd}
.ts7{border:1px solid #adcd3c;background-color:#f2fddb}
.ts8{border:1px solid #f8b3d0;background-color:#fff5fa}
.ts9{border:1px solid #d3d3d3;background-color:#f7f7f7}
.ts10{border:1px solid #bfd1eb;background-color:#f3faff}
.ts11{border:1px solid #ffdd99;background-color:#fff9ed}
.ts12{border:1px solid #cacaff;background-color:#f7f7ff}
.ts13{border:1px solid #a5b6c8;background-color:#eef3f7}

.b1_2{ margin-top:10px;}

.desc {height: 50px;margin:10px 0 0 0;}
.desc,.dtable,form {font-size: 14px;color: #979798;font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,"Microsoft YaHei",Arial,sans-serif;}
.desc div{height: 42px;width: 51px;background: url("/css/global_sprite.png") no-repeat 0 0;}
.desc .ok { background-position: 0 0;}
.desc .jg1 {background-position: 0 -42px;}
.desc .jg2 {background-position: 0 -84px;}
.desc .error {background-position: 0 -126px;}
.desc p {font-size: 20px;font-weight:bold;height: 42px;line-height: 42px; overflow:hidden;margin: 0 15px;}

.dtable {background-color: #FFFFFF;border: 1px solid #D0D0D2; color:#333;box-shadow: 0 1px 1px #DDDDDD;margin:5px auto;width: 100%;font-family: "Microsoft YaHei",Arial,sans-serif;}
.dtable thead {background-color: #F1F1F1;}
.dtable thead th {font-weight: bold;text-align: left;}
.tcen,.tcen thead th,.tcen tr td{ text-align:center;}
.dtable th, .dtable td {border-bottom: 1px solid #D0D0D2;padding: 10px;}
.dtable tr:hover {background-color: #F1F1F1;}
.dtable tr.bgfff:hover {background-color: #fff;}
.dtable td p {clear: both;float: none;height: 30px;line-height: 30px;overflow: hidden;}
table {border-collapse: collapse;border-spacing: 0;}

.jl_list ul li{ float:left;}
.sfz ul li{ margin:0 10px 5px 0; height:20px; line-height:20px; width:180px; overflow:hidden;}
.sfz ul li a{ font-size:12px; color:#666;}
.sfz ul li a:hover{ color:#1A6CC1; text-decoration:underline;}

.links small{ font-size:14px;}
.links span{ font-size:22px;}

/* cookies */
.input_d {display:inline-block; *display:inline;height: 30px;line-height: 30px; position: relative;  *margin-right:5px;}
.j_ico {display:block;cursor: pointer;height: 30px;left: 265px;position: absolute;top: 5px;width: 30px;}
.input_d input.input1{ padding-right:27px; width:261px;  }
.input_d .j_ico a {background:url(/css/global_sprite.png) no-repeat 0 -180px;display: block;height: 30px;width: 30px; z-index:0}
.input_d .j_ico a:hover,.input_d .j_ico a.on{ background-position:0 -210px;}

.classlist {background-color: #fff;border: 1px solid #ACDAF4;font-size: 12px;left: 0;line-height: 30px;padding: 1px;position: absolute;top: 41px;width: 294px;}
.classlist .lis a {color: #666;float: left;height: 30px;padding-left: 8px;text-align: left;text-decoration: none;width: 260px;}
.classlist .lis a:hover {background-color: #EDF6FB;color: #016493;}
.classlist .lis a:active {background-color: #EDF6FB;color: #016493;}
.classlist .lis input {background: #FFF;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;color: #F60;cursor: pointer;float: right; overflow:hidden;height: 22px;line-height: 22px;margin: 4px;}

.classlist li {display: block;height: 30px; *float:left; }
.classlist li.lis span.list_span_select {color: #666666;cursor: pointer;float: left;margin-left: 3px;text-align: left;width: 240px; white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.classlist li.lis input.list_span_save {cursor: pointer;text-align: center;width: 30px;}
.classlist li.lis input.list_span_saved {color: #999999;text-align: center;width: 30px;}
.classlist li.lis input.list_span_delte, .classlist li.lis input.list_span_cancel {cursor: pointer;text-align: center;width: 30px;}
.classlist .lis input {background:#FFFFFF;border:none;border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;color: #FF6600;cursor: pointer;float: right;height: 22px;line-height: 22px;margin: 4px; text-align:center; padding:0;  font-size:12px;}


/*返回头部加入收藏*/
.zzgj_fa .go2top, .zzgj_fa .fa, .zzgj_fa .in{display:block; background:url(/css/zzgj_topfa.gif) no-repeat; left:50%; bottom:0; margin-left:490px; text-indent:-9999px; width:36px; height:36px; cursor:pointer; position:fixed}
#topcontrol{left:50%; bottom:0; width:36px; height:36px; cursor:pointer; position:fixed}
*html .zzgj_fa .fa, *html .zzgj_fa .in,*html .zzgj_fa .go2top{position:absolute; bottom:auto; top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
.zzgj_fa .go2top{background-position:0 0; margin-bottom:150px}
.zzgj_fa .go2top:hover{background-position:-41px 0}
.zzgj_fa .fa{background-position:0 -41px; margin-bottom:191px}
.zzgj_fa .fa:hover{background-position:-41px -41px}
.zzgj_fa .in{background-position:0 -82px; margin-bottom:232px}
.zzgj_fa .in:hover{background-position:-41px -82px}